include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ts_001 *.css
recursive-include ts_001 *.csv
recursive-include ts_001 *.html
recursive-include ts_001 *.ico
recursive-include ts_001 *.js
recursive-include ts_001 *.json
recursive-include ts_001 *.md
recursive-include ts_001 *.png
recursive-include ts_001 *.py
recursive-include ts_001 *.svg
recursive-include ts_001 *.txt
recursive-exclude ts_001 *.pyc